* {
  box-sizing: border-box;
  background-color: beige;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.nav {
  display:flex;
  background-color: #000762;
  padding: 30px;

}

.logo {
background-color: #66000000;
height: 200px;
margin: 0;
background-image: url(/images/images/Annatestlogo.png);
}

.center {
  width: 50%;
}

.center a {
  color: yellow
}

.containerGrid {
display: grid;
grid-template-columns:  20% 20% 20% 20% 20%;
grid-auto-rows: 50% 50%;
grid-template-areas: 
"a b c"
"d e e";
gap: 10px
background-color: aqua;

}

.page-section {
  color:black 
}
h1 {
  background-color: #000762
  color: beige;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
.work1 {
background-image: url(../images/02-portfolio-1.jpg);
background-size: 200px;

}


.work2 {



}

.work3 {



}
.work4 {

}

.work5 {


}
p {
  margin: 0;
}
