* {
  background-color: beige;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  display:flex;
  display: inline;
  flex-direction: row;
  background-color: #000762;

}

#navBar h1 {
  display: flex;
  flex-direction: row;
  display: inline-block;
  width: 30%;
  font-weight: 100;
  background-color: #000762;
  margin: 0;
  font-size: larger;
}

#navigation {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  width: 80%;
  background-color: #000762;
  justify-content: space-evenly;
}
#navigation p a {
  background-color: #000762;
  cursor: pointer;
  text-decoration: none;
}

.center a {
  color: yellow;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
  grid-template-areas: 
  "work1 work2 work3"
  "work4 work4 work3"
  "work5 work5 work5";
}

.heading {
  background-color: #000762;
  padding: 15px;
  height: 25px;
  color: beige;
  font-size: 18px;
  border-bottom: 5px solid orange;
}

.work1 {
  background-image: url("/challenge2/images/2.png");
}

.work2 {
  background-image: url("/challenge2/images/3.png");
}
.work3 {
  background-image: url("/challenge2/images/4.png")
}

.work4 {
  background-image: url("/challenge2/images/5.png");
}

.work5 {
  background-image: url("/challenge2/images/6.png");
}

.page-section {
  color:black; 
  text-align: center;
  border-bottom: 1px solid #000762;
  width: 90%;
  margin: 20px auto;
}

h1 {
  display: inline-block;
 font-size: 30px;
  color: beige;
  margin: 0;
  background-color: #000762;
}

}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000762;
}

.navbar a {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: yellowgreen;
  background-color: #000762;
  margin: 0px 5%;
}



p {
  margin: 0;
}
