* {
  padding: 10px;
  margin: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

nav {
  width: 100%;
  position: fixed;
  background-color: #000762;
  height: 10%;
  padding-left: 30px;
  padding-right: 10px;
}

.navbar {
  background-color: #000762;
  padding: 5px;
  display: flex;
  height: 10%;
  justify-content: space-between;
}

.logo {
  display: flex;
  background-color: white;
  height: 75px;
  width: 100px;
  margin: -5px;
  
}

.nav-links {
  background-color: #000762;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 10%;
  display: flex;
  margin: bottom;
}

.nav-item a {
  display: inline-block;
  height: 10%;
  background-color: #000762;
  padding: 10px 15px;
  color: white;
  margin-bottom: 30px;
}


.nav-item:hover a {
  color: goldenrod;
}

.logo img {
  width: 75px;
  vertical-align: middle;
}

img {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 300px 300px 300px;
  gap: 10px;
  grid-template-areas: 
  "work1 work1 work1"
  "work2 work3 work4"
  "work5 work5 work4"
 
}

.heading {
  background-color: #000762;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 15px;
  height: 25px;
  color: beige;
  font-size: 18px;
  border-bottom: 5px solid ;
}

.work1 {
  grid-area: work1;
  background-image: url("../images/2.png");
}

.work2 {
  grid-area: work2;
  background-image: url("../images/3.png");
}
.work3 {
  grid-area: work3;
  background-image: url("../images/4.png")
}

.work4 {
  grid-area: work4;
  background-image: url("../images/5.png");
}

.work5 {
  grid-area: work5;
  background-image: url("../images/6.png");
}

.page-section {
  color:black; 
  text-align: center;
  text-justify: auto;
  border-bottom: 1px solid #000762;
  width: 90%;
  margin: 20px auto;
}

h1 {
  display: inline-block;
 font-size: 30px;
  color: #998985;
  margin: 0;
  background-color: #000762;
}

}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000762;
}

footer {
  text-align: center;
}
a:visited { 
  text-decoration: none; 
  color: goldenrod; 
 }


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}


@media only screen and (max-width: 60em) {
 

  .wrapper {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr; 
    grid-template-areas:
    "work1"
    "work2"
    "work3"
    "work4"
    "work5"
    ;
  }

  @media only screen and (max-width: 50em) {

  .wrapper {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr; 
    grid-template-areas:
    "work1"
    "work2"
    "work3"
    "work4"
    "work5"
    ;
  }
 .navbar {
  display: none;
 }


 
