* {
  box-sizing: border-box;
  background-color: blue;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.nav {
  display:flex;
  background-color: aqua;
  padding: 10px;

}

.name {
background-color: aliceblue;
height: 230px;
background-image: url{"..../images/Anna test logo.png"}

}
.containerGrid {
display: grid;
grid-template-columns:  20% 20% 20% 20% 20%;
grid-auto-rows: 50% 50%;
grid-template-areas: 
"a b c"
"d e e";
gap: 10px
background-color: aqua;

}

.page-section {
  color:black 
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.work1 {


}


.work2 {



}

.work3 {



}
.work4 {

}

.work5 {


}
p {
  margin: 0;
}
